#data-table {
	display: none;
}
.bar span {
	background: #fefefe url(../images/info-bg.gif) 0 100% repeat-x;
}
.fig0 {
	background: #747474 url(../images/bar-01-bg.gif) 0 0 repeat-y;
}
.fig1 {
	background: #65c2e8 url(../images/bar-02-bg.gif) 0 0 repeat-y;
}
.fig2 {
	background: #eea151 url(../images/bar-03-bg.gif) 0 0 repeat-y;
}

.fig3 {
	background: #eea151 url(../images/bar-04-bg.gif) 0 0 repeat-y;
}

.fig4 {
	background: #eea151 url(../images/bar-05-bg.gif) 0 0 repeat-y;
}

.fig5 {
	background: #eea151 url(../images/bar-06-bg.gif) 0 0 repeat-y;
}
.fig6 {
	background: #eea151 url(../images/bar-07-bg.gif) 0 0 repeat-y;
}

.fig7 {
	background: #eea151 url(../images/bar-08-bg.gif) 0 0 repeat-y;
}

.fig8 {
	background: #eea151 url(../images/bar-09-bg.gif) 0 0 repeat-y;
}