<style>
ul.side_menu{
	list-style-type:none;
	margin:0;
	padding:0;
}

ul.side_menu a:link,a:visited {
	display:block;
	font-weight:bold;
	color:#FFFFFF;
	background-color:#98bf21;
	width:120px;
	text-align:center;
	padding:4px;
	text-decoration:none;
	text-transform:uppercase;
}

ul.side_menu a:hover,a:active {
	background-color:#7A991A;
}

body{
	margin: 0;
	padding: 0;
	border: 0;
	overflow: hidden;
	height: 100%; 
	max-height: 100%; 
}

#side_frame, #top_frame{
	position: static; 
	left: 0; 
	width: auto;     /*Width of left frame div*/
	height: 80%;
	overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
	background-color: white;
	color: white;
}

#side_frame {
	top: 200px;
}

#top_frame {
	font-size: 100%
	left: 0; /*Set left value to WidthOfLeftFrameDiv*/
	right: 0;
	width: auto;
	height: auto; /*Height of top frame div*/
	overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
	background-color: white;
	color: green;
}

#main_content_frame{
	position: fixed; 
	left: 130px; /*Set left value to WidthOfLeftFrameDiv*/
	top: 180px; /*Set top value to HeightOfTopFrameDiv*/
	right: 0;
	bottom: 0;
	overflow: auto; 
	background: #fff;
}

.title{
	margin: 20px; /*Margins for inner DIV inside each DIV (to provide padding)*/
	font-family:"Times New Roman",Times,serif;
	font-size:30px;
	color:#7A991A;
}

ul.top_menu {
	list-style-type:none;
	align: center;
	margin:0;
	padding:0;
	overflow:hidden;
}

ul.top_menu li{
	float:left;
}

ul.top_menu a:link, a:visited{
	display:block;
	width:120px;
	font-weight:bold;
	color:#FFFFFF;
	background-color:#98bf21;
	text-align:center;
	padding:4px;
	text-decoration:none;
	text-transform:uppercase;
}

ul.top_menu a:hover,a:active{
	background-color:#7A991A;
}


* html body{ /*IE6 hack*/
	padding: 120px 0 0 200px; /*Set value to (HeightOfTopFrameDiv 0 0 WidthOfLeftFrameDiv)*/
}

* html #main_content_frame{ /*IE6 hack*/
	height: 100%; 
	width: 50%; 
}

* html #top_frame{ /*IE6 hack*/
	width: 100%;
}
</style>