header a {
	text-decoration: none;
	color: #eee
}

header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	background: #3399ee;
	color: #eee;
	box-shadow: 0 3px 10px #999;
}

#baseline-form{
	position: relative;
	min-width: 450px;
	width: 50%;
	margin: 200px auto;
	margin-bottom: 50px;
}

fieldset{
	border: medium solid #888;
}

body {
	min-width: 600px;
	background: #eee;
	font-size: 16px;
	font-family:Helvetica,sans-serif;
}

input[type=submit] {
	padding: 2px;
	background: #3399ee;
	color: #eee;
}

input[type=submit]:hover {
	background: #33bbff;
}

footer {
	position: absolute;
	width: 99%;
	color: #333;
	text-align: center;
}

.policy-link{
	font-size: 12px;
	text-decoration: none;
	color: #333;
	margin-top: 10px;
	margin-right: 10px;
}

.policy-link:hover{
	text-decoration: underline;
}
