/* Some stylesheet reset */
#cssmenuX > ul {
    list-style: none;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	line-height: 1;
}

/* The container */
#cssmenuX > ul {
	display: block;
	position: relative;
	width: 150px;
}

/* The list elements which contain the links */
#cssmenuX > ul li {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	width: 150px;	
}

/* General link styling */
#cssmenuX > ul li a {
	/* Layout */
	display: block;
	position: relative;
	margin: 0;
	border-top: 1px dotted #fff;
	border-bottom: 1px dotted #d9d9d9;
	padding: 11px 20px;
	width: 110px;

	/* Typography */
	font-family:  Helvetica, Arial, sans-serif;
	color: #f06343;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 0 1px 0 #fff;
	font-size: 13px;
	font-weight: 300;

	/* Background & effects */
	background: #eaeaea;
}

/* Rounded corners for the first link of the menu/submenus */
#cssmenuX > ul li:first-child>a {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top: 0;
}

/* Rounded corners for the last link of the menu/submenus */
#cssmenuX > ul li:last-child>a {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom: 0;
}


/* The hover state of the menu/submenu links */
#cssmenuX > ul li>a:hover, #cssmenuX > ul li:hover>a {
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
	background: #f06343;
	background: -webkit-linear-gradient(bottom, #f06343, #f27d63);
	background: -ms-linear-gradient(bottom, #f06343, #f27d63); 
	background: -moz-linear-gradient(bottom, #f06343, #f27d63);
	background: -o-linear-gradient(bottom, #f06343, #f27d63);
	border-color: transparent;
}

/* The arrow indicating a submenu */
#cssmenuX > ul .has-sub>a::after {
	content: '';
	position: absolute;
	top: 16px;
	right: 10px;
	width: 0px;
	height: 0px;

	/* Creating the arrow using borders */
	border: 4px solid transparent;
	border-left: 4px solid #e4433c; 
}

/* The same arrow, but with a darker color, to create the shadow effect */
#cssmenuX > ul .has-sub>a::before {
	content: '';
	position: absolute;
	top: 17px;
	right: 10px;
	width: 0px;
	height: 0px;

	/* Creating the arrow using borders */
	border: 4px solid transparent;
	border-left: 4px solid #fff;
}

/* Changing the color of the arrow on hover */
#cssmenuX > ul li>a:hover::after, #cssmenuX > ul li:hover>a::after {
	border-left: 4px solid #fff;
}

#cssmenuX > ul li>a:hover::before, #cssmenuX > ul li:hover>a::before {
	border-left: 4px solid rgba(0, 0, 0, .25);
}


/* THE SUBMENUS */
#cssmenuX > ul ul {
	position: absolute;
	left: 150px;
	top: -9999px;
	padding-left: 5px;
	opacity: 0;
	/* The fade effect, created using an opacity transition */
	-webkit-transition: opacity .3s ease-in;
	-moz-transition: opacity .3s ease-in;
	-o-transition: opacity .3s ease-in;
	-ms-transition: opacity .3s ease-in;
}

/* Showing the submenu when the user is hovering the parent link */
#cssmenuX > ul li:hover>ul {
	top: 0px;
	opacity: 1;
}