* { margin: 0; padding: 0; }
body { font: 12px Georgia, serif; }
html { overflow-y: scroll; }
a { text-decoration: none; }
a:focus { outline: 0; }
p { font-size: 15px; margin: 0 0 20px 0; }

#page-wrap { 
	position: absolute;
	margin-top: 10px;
	background: white;
	-moz-box-shadow: 0 0 5px #666;
	-webkit-box-shadow: 0 0 5px #666;
	width: 440px;
	z-index: 2;
}
h1 { font: bold 40px Sans-Serif; margin: 0 0 20px 0; margin-bottom: 150px;}

/* Specific to example one */
#example-one {padding: 10px; margin: 0 0 20px 0;  }
#example-one ul { list-style: none; }
#example-one ul li a { display: block; border-bottom: 1px solid #666; padding: 4px; color: #666; }
#example-one ul li a:hover { background: #fe4902; color: white; }
#example-one ul li:last-child a { border: none; }

li {list-style-type: none;}

#row:hover { background: #FF4040; color: white; cursor:default; } 

.table-head:hover{
    background: #555;
}

.table-head {
    background: #3399ff;
    color: white;
    padding: 2px;
}

.table-div {
    background: white;
    margin: 10px 450px; 
    margin-right: 0px; 
    padding: 10px; 
    width: 800px;

    -moz-box-shadow: 0 0 5px #666; 
    -webkit-box-shadow: 0 0 5px #666;
	border: thin #eee solid;
	box-shadow: 0px 0px 10px #888888;
}

.table-div:hover {
    border: thin solid #3399ff; 
    background: #eee;
    -moz-box-shadow: 0 10px 10px #888; 
    -webkit-box-shadow: 0 10px 10px #888;
}

#page-wrap:hover {
    border: thin solid #3399ff; 
    background: #eee;
    -moz-box-shadow: 0 10px 10px #888; 
    -webkit-box-shadow: 0 10px 10px #888;
}

table, td, th
{
    border:1px solid gray;
    text-align: center;
}

th
{
    color:white;
    background-color: #fff;
}

th a {
    color: #666;
}

th a:hover {
    color: red;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.float_left {
    float: left;
}

.float_right {
    float:  right;
}

.dialog {
	position: fixed;
	background: white;
	z-index: 250;
	width: 90%;
	height: 70%;
	border: thin #eee solid;
	box-shadow: 0px 0px 10px #888888;
	border-radius: 4px;
	padding: 10px;
	font-size: 16px;
	margin-left: 3%;
	margin-top: 0%;
}

.dialog:hover{
	box-shadow: 0px 0px 1000px #888888;
}

.block {
	opacity: 0.9;
	position: absolute;
	top: 0px;
	background: #eee;
	width: 600px;
	z-index: 20;
	padding: 5px;
	box-shadow: 0px 10px 100px #888888;
}
